[Unit]
Description=Dual Function Keys Service
After=network.target

[Service]
ExecStart=/usr/local/bin/myev /dev/input/by-path/platform-i8042-serio-0-event-kbd
User=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
